@import 'variables';

html, body {
  height: 100%;
  margin: 0;
  font-family: Helvetica Neue, sans-serif;
  background: var(--body-backgroud-color);
  color: var(--text-color);

  & .center {
    display: grid;
    place-items: center;
  }

  & .text-center {
    text-align: center;
  }

  & .link {
    cursor: pointer;
    text-decoration: underline;
    color: var(--color-accent);
  }
}

